@import "global.module.scss";
.modalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.1);
    z-index: 999;    
    .modalContent{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 30%;
        align-items: center;
        justify-content: center;
        &.light{
            color: #0a0a0a;
            background-color: $gray-color;
          }
          &.dark{
            color: $gray-color;
            background-color: #0a0a0a;
          }
        .cartConfirm{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            padding: 10px;
            background-color: $gray-color;
            .cartConfirmHeader{
                color: #0a0a0a;
            }            
            .cartConfirmBtnContainer{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                button{
                    padding: 10px;
                    border-radius: 10px;
                    border: none;
                    background-color: $orange-color;
                    color: $gray-color;
                    font-size: 15px;
                    cursor: pointer;
                }
                button:hover{
                    background-color: #ff6f00;
                }
            }
        }
    }
    .modalCloseBtn{
        position: absolute;
        top: 35%;
        right: 30%;
        background-color: transparent;
        border: none;
        font-size: 26px;
        cursor: pointer;
        color: $orange-color;
        border-radius: 20%;
        padding: 5px;
    }
    @include desktop{
        .modalContent{
            width: 70%;
            height: 40%;
        }
        .modalCloseBtn{
            top: 30%;
            right: 15%;
            font-size: 26px;
            padding: 5px;
        }
    }
    @include tabletLG{
        .modalContent{
            width: 80%;
            height: 50%;
            align-items: center;
            justify-content: center;
            .cartConfirm{
                width: 100%;
                height: 100%;
                padding: 10px;
                .cartConfirmBtnContainer{
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 50%;
                    height: 50%;
                    button{
                        padding: 10px;
                        font-size: 15px;
                    }
                }
            }
        }
        .modalCloseBtn{
            top: 25%;
            right: 10%;
        }
    }
    @include mobile{
        .modalContent{
            width: 90%;
            height: 55%;
            .cartConfirm{
                width: 100%;
                height: 80%;
                padding: 10px;
                .cartConfirmHeader{
                    text-align: center;
                }
                .cartConfirmBtnContainer{
                    width: 70%;
                    height: 70%;
                }
            }
        }
        .modalCloseBtn{
            top: 22%;
            right: 10%;
        }
    }
}