@import "global.module.scss";
.dropdownContainer {
  position: absolute;
  width: 200px;
  border: 1px solid #dbdbdb;
  color: black;
  top: 80px;
  z-index: 100;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 1.2rem;
  height: fit-content;
  box-shadow: 0 1px 5px rgba(160, 160, 160, 0.6);

  &.light {
    color: #0a0a0a;
    background-color: $gray-color;
  }
  &.dark {
    color: $gray-color;
    background-color: #0a0a0a;
  }
  .dropdownContent {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;
    background-color: $gray-color;
    color: #0a0a0a;
    li {
      cursor: pointer;
    }
  }
  .dropdownItemTablet {
    display: none;
  }
  .dropdownItem,
  .dropdownItemTablet {
    background-color: $gray-color;
    padding: 10px 15px;
    margin: 5px 0;
    font-size: 20px;
    font-weight: 400;
    .dropdownIcon{
      align-items: center;
      margin-right: 10px;
      font-size: 15px;
    }
  }

  .dropdownItem:hover {
    background-color: #e0e0e0;
  }
}
@include desktop {
  .dropdownContainer {
    right: 0;
    .dropdownItemTablet {
      display: block;
    }
  }
}
@include tabletLG {
  .dropdownContainer {
    display: none;
  }
}
