@import "global.module.scss";
.productContainer {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  height: 350px;
  border: 1px solid #e0e0e0;
  padding: 10px 20px;
  justify-content: space-around;
  border-radius: 10px;
  position: relative;
  .favoriteIcon {
    position: absolute;
    top: 3%;
    right: 5%;
    background-color: $gray-color;
    padding: 10px;
    width: 24px;
    height: 27px;
    border-radius: 50%;
    font-size: 24px;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.6);
  }
  .favoriteIcon:hover {
    color: $orange-color;
  }
  .productCategory{
    background-color: $orange-color;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    color: $gray-color;
    font-size: 15px;
    border-radius: 10px 10px 10px 0;
    letter-spacing: 1px;
  }
  .productImg {
    width: 100%;
    height: 200px;
    object-fit: fill;
    object-position: center;
    border-radius: 10px;
  }
  .productInfo {
    .rating {
      display: flex;
      align-items: center;
      margin: 5px auto;
    }
    .ratingIcon {
      color: $orange-color;
    }
    p {
      font-size: 15px;
    }
    span {
      font-size: 18px;
      font-weight: 700;
      margin-right: 5px;
    }
  }
  .productPrices {
    display: flex;
    margin: 5px 0;
    .oldPrice {
      display: flex;
      align-items: center;
      text-decoration: line-through;
      text-decoration-thickness: 2px;
      color: #bdbdbd;
      font-size: 17px;
      margin-right: 10px;
    }
    .newPrice {
      display: flex;
      align-items: center;
      color: $orange-color;
      font-size: 20px;
    }
  }
  .productCartBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: $orange-color;
    color: white;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: visible 0.5s ease-in;
    span{
        
        margin-right: 10px;
    }
  }
  .updateCartContainer{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
      border:1px solid #bdbdbd;
      width: 25px;
      height: 25px;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
    }
    .updateCartBtn{
      background-color: $orange-color;
      color: white;
      padding: 5px;
      width: 40px;
      height: 40px;
      margin: 0 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 22px;
    }
  }
}
.productContainer:hover {
  .productCartBtn {
    visibility: visible;
  }
  .favoriteIcon {
    visibility: visible;
  }
  .updateCartContainer{
    visibility: visible;
  }
}
@include desktop {
  .productContainer {
    max-width: 200px;
    .favoriteIcon {
        width: 20px;
        height: 25px;
      font-size: 20px;
    }
  }
}
@include tabletLG {
  .productContainer {
    max-width: 150px;
    .favoriteIcon {
        width: 18px;
        height: 20px;
      font-size: 18px;
    }
    .productCategory{
        font-size: 13px;
    }
    .productImg {
      width: 100%;
      height: 180px;
    }
    .productInfo {
      p {
        font-size: 15px;
      }
      span {
        font-size: 17px;
        font-weight: 700;
        margin-right: 5px;
      }
    }
    .productPrices {
      .oldPrice {
        font-size: 15px;
      }
      .newPrice {
        color: $orange-color;
        font-size: 18px;
      }
    }
    .productCartBtn {
      padding: 8px;
      font-size: 15px;
    }
    .updateCartContainer{
      h3{
        width: 25px;
        height: 25px;
        padding: 8px;
      }
    }
  }
}
@include mobile {
  .productContainer {
    .productImg {
      height: 150px;
    }
    .updateCartContainer{
      h3{
        width: 25px;
        height: 25px;
        padding: 8px;
      }
      .updateCartBtn{
        width: 35px;
        height: 35px;
        margin: 0 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }
}
